{{#if label}}
<label class="{{labelClass}}" for={{name}}>{{label}}</label>
{{/if}}
<div class="{{inputClass}}">
    {{input type=type checked=(mut (get model property))}}

    </div>
{{#if (v-get model property 'isInvalid')}}
  <div class="help-block">
    {{v-get model property 'message'}}
  </div>
{{/if}}
