<div class="form-group {{if (v-get model property 'isInvalid') 'has-error' }}">
  <label class="{{labelClass}}" for={{name}}>{{label}}</label>
  <div class="{{inputClass}}">
    {{textarea name=property value=(mut (get model property)) placeholder=placeholder
      class='form-control'
      name=name
      rows=rows
      cols=cols}}
    {{#if showErrorMessage}}
      <div class="help-block">
        {{v-get model property 'message'}}
      </div>
    {{/if}}
  </div>
</div>
