{{#if (eq labelPostition 'left')}}
  <label class="{{labelClass}}" for={{name}}>{{label}}</label>
{{/if}}
<div class="{{inputClass}}">
  {{input type=type value=(mut (get model property))
    placeholder=placeholder class=inputClassProp type=type
    step=step min=min size=size}}

  {{#if (v-get model property 'isInvalid')}}
    <div class="help-block">
      {{v-get model property 'message'}}
    </div>
  {{/if}}
</div>
{{#if (eq labelPostition 'right')}}
  <label class="{{labelClass}}" for={{name}}>{{label}}</label>
{{/if}}
{{log 'label position ' labelPostition}}
