{{#if label}}
  <label class="{{labelClass}}" for={{name}}>{{label}}</label>
{{/if}}
<div class="{{inputClass}}">
  <select {{action "change" on='change'}} name=property class="{{inputClassProp}}">
    {{#if emptyDefault}}
      <option disabled selected>
        {{#if translate}}
          {{t emptyDefaultMsg}}
        {{else}}
          {{emptyDefaultMsg}}
        {{/if}}
      </option>
    {{/if}}
    {{#each relation_aware_options as |option|}}
      <option value="{{option.value}}" selected={{eq option.value current}}>
        {{#if translate }}
          {{t option.label}}
        {{else}}
          {{option.label}}
        {{/if}}
      </option>
    {{/each}}
  </select>
</div>
{{yield}}
{{#if showErrorMessage}}
  <div class="help-block">
    {{v-get model property 'message'}}
  </div>
{{/if}}
